@model KeplerCMS.Areas.MyHabbo.Models.PlaceItem
@{
    Layout = null;
}
    <div class="movable sticker @Model.Definition.CssClass" style="left: @(Model.Details.X)px; top: @(Model.Details.Y)px; z-index: @(Model.Details.Z)" id="sticker-@Model.Details.Id">

        <img src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="sticker-@Model.Details.Id-edit" />
        <script language="JavaScript" type="text/javascript">
            Event.observe("sticker-@Model.Details.Id-edit", "click", function(e) { openEditMenu(e, @Model.Details.Id, "sticker", "sticker-@Model.Details.Id-edit", false); }, false);
        </script>

    </div>