@using KeplerCMS.Areas.Housekeeping.Helpers
@using KeplerCMS.Data.Models
@using KeplerCMS.Areas.Housekeeping.Models.Enums
@using KeplerCMS.Areas.Housekeeping.Models.Views
@using Newtonsoft.Json
@{
    var userData = (Users)ViewData["user"];
    var path = Context.Request.Path;
    var userFuses = userData.Fuses.Select(s => s.FuseName).ToList();

    var activeMenuItem = HousekeepingMenu.Home;
    var menuMapping = new Dictionary<string, HousekeepingMenu>
    {
        { "/housekeeping", HousekeepingMenu.Home },
        { "/housekeeping/website", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/menu", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/pages", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/news", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/promo", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/promotions", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/ranks", HousekeepingMenu.AdminTools },
        { "/housekeeping/localization", HousekeepingMenu.Localization },
        { "/housekeeping/users", HousekeepingMenu.HobbaTools },
        { "/housekeeping/hobba", HousekeepingMenu.HobbaTools },
        { "/housekeeping/upload", HousekeepingMenu.WebsiteAdmin },
        { "/housekeeping/admin", HousekeepingMenu.AdminTools },
        { "/housekeeping/catalog", HousekeepingMenu.AdminTools },
        { "/housekeeping/messengercampaign", HousekeepingMenu.AdminTools },
        { "/housekeeping/settings", HousekeepingMenu.AdminTools }
    };

    foreach (var key in menuMapping.Keys.Where(key => path.ToString().Contains(key) || path == key))
    {
        activeMenuItem = menuMapping[key];
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Housekeeping ~ @ViewBag.Title</title>

    <link rel="stylesheet" href="~/housekeeping/css/housekeeping.css">
    <link rel="stylesheet" href="~/housekeeping/css/sweetalert2.min.css">

</head>

<body>
<div class="wrapper">
    <div class="top">
        <div class="loggedin">Logged in as @userData.Username <a href="/account/logout">Log out</a></div>
        <ul class="menu">
            @await Html.PartialAsync("HousekeepingMenuItem", new HousekeepingMenuItem
                   {
                       Title = "Home", 
                       Url = Url.Action("Index", "Home"), 
                       IsActive = activeMenuItem == HousekeepingMenu.Home, 
                       UserFuses = userFuses, 
                       Fuses = new List<Fuse>
                       {
                           Fuse.housekeeping 
                  
                       }
                   })
            @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping }))
            {
                <li @(activeMenuItem.Equals(HousekeepingMenu.Home) ? "class=active" : "")>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
            }
            @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_website }))
            {
                <li @(activeMenuItem == HousekeepingMenu.WebsiteAdmin ? "class=active" : "")>
                    <a href="@Url.Action("Index", "Website")">Website management</a>
                </li>
            }
            @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.fuse_kick }))
            {
                <li @(activeMenuItem.Equals(HousekeepingMenu.HobbaTools) ? "class=active" : "")>
                    <a href="@Url.Action("Index", "Hobba")">Hobba tools</a>
                </li>
            }
            @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.fuse_administrator_access, Fuse.housekeeping_ranks }))
            {
                <li @(activeMenuItem.Equals(HousekeepingMenu.AdminTools) ? "class=active" : "")>
                    <a href="@Url.Action("Index", "Admin")">Admin tools</a>
                </li>
            }
            @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_localization }))
            {
                <li @(activeMenuItem.Equals(HousekeepingMenu.Localization) ? "class=active" : "")>
                    <a href="@Url.Action("Index", "Localization")">Localization</a>
                </li>
            }
        </ul>
    </div>
    <div class="content">
        <div class="sidebar">
            @{
                if (activeMenuItem == HousekeepingMenu.WebsiteAdmin)
                {
                    <div class="container">
                        <div class="title">
                            Website administration
                        </div>
                        <div class="container-content">
                            <ul>
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_menu }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Menu")">Menu</a>
                                    </li>
                                }
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_pages }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Pages")">Pages</a>
                                    </li>
                                }
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_upload }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Upload")">Upload</a>
                                    </li>
                                }
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_news }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "News")">News</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }

            @{
                if (activeMenuItem == HousekeepingMenu.AdminTools)
                {
                    <div class="container">
                        <div class="title">
                            Admin tools
                        </div>
                        <div class="container-content">
                            <ul>
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_settings }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Settings")">Settings</a>
                                    </li>
                                }
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_campaign }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "MessengerCampaign")">Messenger Campaign</a>
                                    </li>
                                }
                                @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.housekeeping_ranks }))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Ranks")">Manage ranks</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
            
            @{
                if (activeMenuItem == HousekeepingMenu.HobbaTools)
                {
                    @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.room_alert, Fuse.fuse_ban }))
                    {
                        <div class="container">
                            <div class="title">
                                Hobba Tools
                            </div>
                            <div class="container-content">
                                <ul>
                                    @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.room_alert }))
                                    {
                                        <li>
                                            <a href="@Url.Action("Alert", "Hobba")">Remote alerting</a>
                                        </li>
                                    }
                                    @if (HousekeepingAccess.HasAccess(userFuses, new List<Fuse> { Fuse.fuse_ban }))
                                    {
                                        <li>
                                            <a href="@Url.Action("Ban", "Hobba")">Remote banning and kicking</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("BanList", "Hobba")">List of current bans</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }

                    
                    <div class="container">
                        <div class="title">
                            Scam Detection
                        </div>
                        <div class="container-content">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Users")">User search & information tool</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
</div>

<script src="~/housekeeping/js/jquery.js" type="text/javascript"></script>
<script src="~/housekeeping/js/polyfill.min.js" type="text/javascript"></script>
<script src="~/housekeeping/js/sweetalert2.min.js" type="text/javascript"></script>
@RenderSection("scripts", false)
</body>

</html>
