@using KeplerCMS.Data.Models 
@using KeplerCMS.Models.Enums
@{
    var userData = (Users)ViewData["user"];
    var menu = (List<Menu>)ViewData["menu"];
    var subMenu = new List<Menu>();
    var pathList = Context.Request.Path.ToString().Substring(1).Split("/");
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Habbo ~ @ViewData["Title"]</title>
    <!-- IMPORT LAYOUT CONTENT(CSS/JS) -->
    <link href='~/styles/style.css' type='text/css' rel='stylesheet' />
    <link href='~/styles/ads.css' type='text/css' rel='stylesheet' />
    <link href='~/styles/boxes.css' type='text/css' rel='stylesheet' />


    <script language='JavaScript' type='text/javascript'>
        var habboReqPath = 'http://www.test1.webbanditten.dk';
        var habboStaticFilePath = '~';
        var habboImagerUrl = '/habbo-imaging/';
        document.habboLoggedIn = false;
        window.name = 'habboMain';
    </script>

    <script language='JavaScript' type='text/javascript' src='~/js/prototype.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/habbo.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/builder.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/jquery.min.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/swfobject.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/ads.js'></script>
    <script type='text/javascript' language='JavaScript' src='~/js/validation.js'></script>

    <script>var j = jQuery.noConflict();</script>






    <script language='JavaScript' type='text/javascript'>
        window.onload = function () {
            advertisementLoad();
        }
    </script>

</head>
<body id="">
    <div id="overlay"></div>
    <h1 id="main-header">Habbo</h1>
    <div id="wrapper">
        <!-- ADVERTISEMENT INCLUDE -->
        <script type='text/javascript'>
            Ads_Top('@Url.Content("~/c_images/album728/ads_habbogroup_clubjoin.png")', '@Url.Content("~/c_images/album728/ads_habbogroup_habbogarden.png")');
            Links_Top = ['#', 'http://google.com'];
        </script>
        <div align="center">
            <div class="ad-scale ad-leader">
                <table>
                    <tbody>
                        <tr>
                            <td class="ad-header-tl"></td>
                            <td class="ad-header-t"></td>
                            <td class="ad-header-tr"></td>
                        </tr>
                        <tr>
                            <td class="ad-header-ml"></td>
                            <td class="ad-header-m">

                                <h5><span class="lang-Advertissement_Title">Annonce</span></h5>
                            </td>
                            <td class="ad-header-mr"></td>
                        </tr>
                        <tr>
                            <td class="ad-content-ml"></td>
                            <td class="ad-content-m" align="center" valign="top">
                                <a href="#" target="_blank" id="TopLink"><img style="width: 728px; height: 90px;" alt="" src="#" id="TopImage"></a>
                            </td>
                            <td class="ad-content-mr"></td>
                        </tr>
                        <tr>
                            <td class="ad-content-bl"></td>
                            <td class="ad-content-b"></td>
                            <td class="ad-content-br"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="top_wrap">
            <div id="top">
                <div id="topdim"></div>
                <div id="top-elements">
                    <table id="topbar">
                        <tr>
                            <!-- TOPBAR INCLUDE ( User Status ) -->
                            <td id="topbar-count">2,222 <span class="lang-topbar-count">Online på Habbo</span></td>
                            <td id="topbar-menu" align="center">
                                <ul>
                                    <li id="myhabbo" class="selected" onmouseover="switchTab('myhabbo')">
                                        <div><a href="http://www.test1.webbanditten.dk/tab/myhabbo" class="topbar-menu-link" onclick="return false;"><span class="lang-topbar-myhabbo">Min Habbo</span></a></div>
                                    </li>
                                    <li id="mycredits" onmouseover="if (switchTab('mycredits') && document.habboLoggedIn) updateCredits()" onmouseout="fadeTab('myhabbo')">
                                        <div><a href="http://www.test1.webbanditten.dk/tab/credits" class="topbar-menu-link" onclick="return false;"><span class="lang-topbar-mycredits">Mine Habbo Mønter</span></a></div>
                                    </li>
                                    <li id="habboclub" onmouseover="if (switchTab('habboclub') && document.habboLoggedIn) updateHabboClub()" onmouseout="fadeTab('myhabbo')">
                                        <div><a href="http://www.test1.webbanditten.dk/tab/habboclub" class="topbar-menu-link" onclick="return false;"><span class="lang-topbar-habboclub">Habbo Club</span></a></div>
                                    </li>
                                </ul>
                            </td>
                            <!-- TOPBAR INCLUDE ( User Status ) -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td id="topbar-status" class="loggedin">Logget ind som <strong>@userData.Username</strong></td>
                            }
                            else
                            {
                                <td id="topbar-status" class="notloggedin">Ikke logget ind</td>
                            }
                        </tr>
                    </table>
                    <div id="habbologo"><a href="http://www.test1.webbanditten.dk"></a></div>
                    <!-- TOPMENU INCLUDE ( Enter Hotel ) -->
                    <div id="enter-hotel">
                        <a href="http://www.test1.webbanditten.dk/client" id="enter-hotel-link" target="client" onclick="openOrFocusHabbo(this); return false;"></a>
                    </div>

                    <div id="tabmenu" onmouseover="lockCurrentTab();" onmouseout="fadeTab('myhabbo')">
                        <div id="tabmenu-content">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div id="myhabbo-content" class="tabmenu-inner selected">

                                    <!-- TOPMENU INCLUDE (MYHABBO) -->

                                    <div class="habbo-avatar">
                                        <img src="https://dcr.webbanditten.dk/habbo-imager/avatar.php?figure=@userData.Figure&amp;size=b&amp;action=wav,&amp;direction=3&amp;head_direction=3&amp;gesture=sml&amp;size=m" alt="" class="tabmenu-image myimage" style="margin-right: 5px; margin-right: 0px;">
                                    </div>
                                    <h3 style="">Velkommen @userData.Username</h3>
                                    <div class="tabmenu-inner-content">
                                        <p>
                                            <a href="/client" class="arrow" target="client" onclick="openOrFocusHabbo(this); return false;">Gå til hotellet</a>
                                        </p>
                                        <p>
                                            <a href="/home/@userData.Username" class="arrow">Dit Habbo Home</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("index", "profile")" class="arrow">Ændre din profil</a>
                                        </p>
                                        <a href="/account/logout" class="colorlink orange last"><span>Log af</span></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="myhabbo-content" class="tabmenu-inner selected">

                                    <!-- TOPMENU INCLUDE (MYHABBO) -->

                                    <img src="~/images/top_bar/myhabbo_frank.gif" alt="" width="60" height="85" class="tabmenu-image" />
                                    <h3><span class="lang-topbar-myhabbo-content-notLoggedin">Velkommen! Log venligst ind eller opret en profil</span></h3>
                                    <div class="tabmenu-inner-content">
                                        <p>
                                            <a href="/account" class="colorlink orange" style="margin-left: 0px; margin-right: 2px;"><span class="lang-topbar-myhabbo-inner-register">Opret en profil, det gratis</span></a>
                                        </p>
                                        <p>
                                            <a href="/account" class="colorlink orange last" style="margin-left: 0px; margin-right: 2px;"><span class="lang-topbar-myhabbo-inner-login">Log ind</span></a>
                                        </p>
                                    </div>
                                </div>
                            }

                            <div id="mycredits-content" class="tabmenu-inner">
                                <div id="credits-status">
                                    <!-- TOPMENU INCLUDE (MYCREDITS) -->

                                    <h3><span class="lang-topbar-mycredits-content-notloggedinBefore">Por favor,</span> <a href="http://www.test1.webbanditten.dk/login"><span class="lang-sign">entre</span></a> <span class="lang-topbar-mycredits-content-notloggedinAfter">para ver seu saldo</span></h3>
                                    <div class="tabmenu-inner-content">
                                        <p>
                                            <img src="~/images/top_bar/mycredits_coins.gif" alt="" width="47" height="21" class="tabmenu-image coins" />
                                            <a href="http://www.test1.webbanditten.dk/tab/credits" class="arrow"><span class="lang-topbar-mycredits-inner-buy">Comprar Moedas</span></a>
                                        </p>
                                        <p>
                                            <a href="http://www.test1.webbanditten.dk/tab/redeem" class="arrow"><span class="lang-topbar-mycredits-inner-redeem">Inserir Código de Moedas ou Mobis</span></a>
                                        </p>
                                    </div>
                                    <script>CreditsUpdated = false;</script>
                                </div>
                            </div>
                            <div id="habboclub-content" class="tabmenu-inner">
                                <div id="habboclub-status">
                                    <!-- TOPMENU INCLUDE (HABBOCLUB) -->

                                    <h3><span class="lang-topbar-habboclub-content-notloggedinBefore">Por favor,</span> <a href="http://www.test1.webbanditten.dk/login"><span class="lang-sign">entre</span></a> <span class="lang-topbar-habboclub-content-notloggedinAfter">para ver suas informações do Habbo Club</span></h3>
                                    <div class="tabmenu-inner-content">
                                        <p>
                                            <span class="lang-topbar-habboclub-inner-about">Habbo Club te dá os melhores benefícios</span>

                                        </p>
                                        <p>
                                            <a href="http://www.test1.webbanditten.dk/tab/habboclub" class="arrow"><span class="lang-topbar-habboclub-inner-club">Últimas Notícias</span></a>
                                        </p>
                                    </div>
                                    <script>habboClubUpdated = false;</script>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div id="tabmenu-bottom"></div>
                    </div>
                    <script type="text/javascript">
                        $("tabmenu").style.left = (Position.cumulativeOffset($("myhabbo"))[0] - Position.cumulativeOffset($("top"))[0]) + "px";
                    </script>
                </div>
                <div id="mainmenu">
                    <ul>
                        <li id="leftspacer">&nbsp;</li>
                        @{
                            if (menu != null)
                            {
                                var headerMenu = menu.Where(m => m.Parent == 0).OrderBy(m => m.Order);
                                var last = headerMenu.Last();
                                foreach (Menu item in headerMenu)
                                {
                                    string lastClass = (item == last) ? "last" : "";
                                    bool isActive = (Path.Count() > 0 && pathList[0].Contains(item.Href.Substring(1)));
                                    string active = isActive ? "active" : "";
                                    bool needsAuthentication = item.State == Enum.GetName(typeof(MenuState), MenuState.authenticated);
                                    string disabledClass = (needsAuthentication && !User.Identity.IsAuthenticated) ? "disabled" : "";
                                    string href = (!needsAuthentication || needsAuthentication && User.Identity.IsAuthenticated) ? "href="+item.Href : "";
                                    if (isActive)
                                        subMenu = menu.Where(m => m.Parent == item.Id).ToList();
                                    <li id="@active" class="@disabledClass @lastClass">
                                        <span class="left"></span>
                                            <a @href><img src="@Url.Content("~/c_images/navi_icons/" + item.Icon + ".gif")" alt="" /> <span class="lang-navbar-home">@item.Text</span></a>
                                        <span class="right"></span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div id="submenu">
                    <div class="subnav">
                        @{
                            if (subMenu.Count > 0)
                            {
                                var subMenuItems = subMenu.OrderBy(m => m.Order);
                                var last = subMenuItems.Last();
                                foreach (var item in subMenuItems)
                                {


                                    bool isActive = false;
                                    int index = item.Href.IndexOf(pathList[0]);
                                    string cleanPath = (index < 0)
                                        ? item.Href
                                        : item.Href.Remove(index, pathList[0].Length);
                                    if (pathList.Count() > 1 && cleanPath.Replace("/", "") == pathList[1])
                                    {
                                        isActive = true;
                                    } else if(pathList.Count() == 1 && Context.Request.Path.ToString().Contains(item.Href)) {
                                        isActive = true;
                                    }
                                    if (isActive)
                                    {
                                        @item.Text
                                    }
                                    else
                                    {
                                        @:<a href="@item.Href">@item.Text</a>
                                    }
                                    if (last != item)
                                    {
                                        @:|
                                    }

                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div id="main-content">
            @RenderBody()

            <br style="clear: both;">
        </div>
        <div id="outer">
            <div id="outer-content">
                <div id="footer">
                    <div id="footer-top">
                        <div id="footer-content">
                            <p>
                                <a href="/web/20070307142046/http://www.habbo.dk/">Home</a>
                                |
                                <a href="/web/20070307142046/http://www.habbo.dk/hotel">Ny på Habbo?</a>
                                |
                                <a href="/web/20070307142046/http://www.habbo.dk/community">Community</a>
                                |
                                <a href="/web/20070307142046/http://www.habbo.dk/games">Games</a>
                                |
                                <a href="/web/20070307142046/http://www.habbo.dk/credits">Habbo Mønter</a>
                                |
                                <a href="/web/20070307142046/http://www.habbo.dk/club">Habbo Club</a>
                                |
                                <a href="https://web.archive.org/web/20070307142046/http://www.habbomobile.dk/">Mobil</a>
                                |
                                <a href="/web/20070307142046/http://www.habbo.dk/help">Hjælp og Sikkerhed</a>

                            </p>
                            <p>
                                <a href="/web/20070307142046/http://www.habbo.dk/credits">Køb Habbo Mønter</a> |
                                <a href="/web/20070307142046/http://www.habbo.dk/club/index.html">Habbo Club</a>
                            </p>
                            <p><a href="/web/20070307142046/http://www.habbo.dk/footer_pages/privacy_policy.html">Fortrolighedspolitik</a> | <a href="/web/20070307142046/http://www.habbo.dk/footer_pages/terms_and_conditions.html">Brugerbetingelser</a> | <a href="/web/20070307142046/http://www.habbo.dk/footer_pages/advertise_in_habbo.html">Advertise in Habbo</a> | <a href="/web/20070307142046/http://www.habbo.dk/footer_pages/atlas/">Habbo Atlas</a> | <a href="https://web.archive.org/web/20070307142046/http://www.sulake.com/">Sulake</a></p>
                            <p class="footer-legal">© 2006 Sulake Corporation Ltd. HABBO is a registered trademark of Sulake Corporation Oy in the European Union, the USA, Japan, the People's Republic of China and various other jurisdictions. All rights reserved.</p>
                        </div>
                    </div>
                    <div id="footer-bottom"><div id="footer-bottom-content"></div></div>
                </div>
            </div>
        </div>
        <div id="outer-bottom"><div id="outer-bottom-content"></div></div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>