@using KeplerCMS.Data.Models
@{
    var baseUrl = Context.Request.Host;
    var settings = (List<Settings>)ViewData["settings"];
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Habbo ~ @ViewData["Title"]</title>
    <!-- IMPORT LAYOUT CONTENT(CSS/JS) -->
    <link href='~/styles/style.css' type='text/css' rel='stylesheet' />
    <link href='~/styles/ads.css' type='text/css' rel='stylesheet' />
    <link href='~/styles/boxes.css' type='text/css' rel='stylesheet' />
    <link href='~/styles/process.css' type='text/css' rel='stylesheet' />

    <script type='text/javascript'>
        var habboReqPath = window.location.protocol.replace(/:/g, '') + '://@baseUrl';
        var habboStaticFilePath = habboReqPath + '//@Url.Content("~")';
        var habboImagerUrl = '/habbo-imaging/';
        document.habboLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
        window.name = 'habboMain';
    </script>

    <script language='JavaScript' type='text/javascript' src='~/js/prototype.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/habbo.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/builder.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/jquery.min.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/swfobject.js'></script>
    <script language='JavaScript' type='text/javascript' src='~/js/ads.js'></script>
    <script type='text/javascript' language='JavaScript' src='~/js/validation.js'></script>
    <script type="text/javascript" src="/js/registration.js"></script>


    <script type='text/javascript'>var j = jQuery.noConflict();</script>






    <script language='JavaScript' type='text/javascript'>
        window.onload = function () {
            advertisementLoad();
        }
    </script>

</head>
@{
    var background = "/images/bg_patterns/bday_background.png";
    var cmsBackground = (settings != null) ? settings.FirstOrDefault(s=>s.Setting == "cms.background") : null; 
    if(cmsBackground != null && cmsBackground.Value != "0" && !string.IsNullOrEmpty(cmsBackground.Value)) {
        background = cmsBackground.Value;
    }
}
<body style="background-image: url(@background)">
    <div id="overlay"></div>
    <div id="process-wrapper">
        <div id="process-header">
            <div id="process-header-body">
                <div id="process-header-content">
                    <div id="habbologo"><a href="/"></a></div>
                    @RenderSection("Steps", required: false)
                </div>
            </div>
        </div>


        <div id="outer">
            <div id="outer-content">
                @RenderBody()


                <partial name="~/Views/Shared/_Footer.cshtml" />
            </div>
        </div>
        <div id="outer-bottom">
            <div id="outer-bottom-content"></div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>