@model string
@{
    Layout = "_Register";
    ViewData["Title"] = DbRes.T("orange_box_header", "forgot");
}

<div class="processbox left">
    <div class="headline">
        <div class="headline-content">
            <div class="headline-wrapper">
                <h2>@DbRes.T("orange_box_header", "forgot")</h2>
            </div>
        </div>
    </div>
    <div class="content-top">
        <div class="content">
            <div class="processbox-inner">
                <h4>@DbRes.T("orange_box_content_header", "forgot")</h4>
                <p>
                  
                </p>
            </div>
                        <div class="content-white-outer">
                <div class="content-white">
                    <div class="content-white-body">
                        <div class="content-white-content">
                            <form action="/account/forgot/password" method="post">
                                <input type="hidden" name="returnUrl" value="@Model" />
                                @Html.AntiForgeryToken()
                                <p>
                                    <label for="login-username" class="registration-text">@DbRes.T("blue_box_username", "forgot")</label>
                                    <input type="text" class="required-username" name="username" id="login-username" value="">
                                </p>
                                <p>
                                    <label for="login-email" class="registration-text">@DbRes.T("blue_box_email", "forgot")</label>
                                    <input type="text" class="required-email" name="username" id="email" value="">
                                </p>
                                
                                <p class="last">
                                    <input type="submit" value="@DbRes.T("blue_box_forgot_password", "forgot")" class="process-button">
                                </p>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="content-white-bottom">
                    <div class="content-white-bottom-body"></div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="content-bottom">
        <div class="content-bottom-content"></div>
    </div>
</div>
<div class="processbox right blue">
    <div class="headline">
        <div class="headline-content">
            <div class="headline-wrapper">
                <h2>@DbRes.T("blue_box_header", "forgot")</h2>
            </div>
        </div>
    </div>
    <div class="content-top">
        <div class="content">
            <div class="processbox-inner">
                <p>
                    @DbRes.T("blue_box_content", "forgot")<br><br>
                </p>
            </div>
            @if (ViewData["wrong_users_or_password"] != null || ViewData["please_enter_username"] != null)
            {
                <div style="display: block;">
                    <div class="content-red">
                        <div class="content-red-body" id="login-errors-content">
                            @(ViewData["wrong_users_or_password"] != null && (bool)ViewData["wrong_users_or_password"] ? @DbRes.T("error_wrong_users_or_password", "register") : null)
                            @(ViewData["please_enter_username"] != null && (bool)ViewData["please_enter_username"] ? @DbRes.T("error_please_enter_username", "register") : null)
                        </div>
                    </div>
                    <div class="content-red-bottom"><div class="content-red-bottom-body"></div></div>
                </div>
            }


            
            <div class="content-white-outer">
                <div class="content-white">
                    <div class="content-white-body">
                        <div class="content-white-content">
                            <form action="/account/forgot/habboname" method="post">
                                <input type="hidden" name="returnUrl" value="@Model" />
                                @Html.AntiForgeryToken()
                                <p>
                                    <label for="login-username" class="registration-text">@DbRes.T("blue_box_username", "forgot")</label>
                                    <input type="text" class="required-username" name="username" id="login-username" value="">
                                </p>
                                
                                <p class="last">
                                    <input type="submit" value="@DbRes.T("blue_box_forgot_habboname", "forgot")" class="process-button">
                                </p>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="content-white-bottom">
                    <div class="content-white-bottom-body"></div>
                </div>
            </div>
           
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-bottom">
        <div class="content-bottom-content"></div>
    </div>
</div>



