@{

    ViewData["Title"] = "Ændre din profil";
    var figureDataUrl =
        ((bool)ViewData["club"]) ? Url.Content("~/xml/figure_data_xml_hc.xml") : Url.Content("~/xml/figure_data_xml.xml");
}

<div id="page-headline">
    <div id="page-headline-breadcrums">
        
    </div>
    <div id="page-headline-text">@DbRes.T("habbo_profile", "profile")</div>
</div>

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="content-2col">
    <tbody>
        <tr>

            <partial name="~/Views/Shared/Sidebars/Profile/left.cshtml" />
            <td valign="top" style="width: 539px;" class="habboPage-col rightmost">
                <div class="processbox">
                    <div class="headline">
                        <div class="headline-content">
                            <div class="headline-wrapper">
                                <h2>@DbRes.T("habbo_profile", "profile")</h2>
                            </div>
                        </div>
                    </div>
                    <div class="content-top">
                        <div class="content">
                            <div id="registration-errors">
                                <div class="content-red" style="display:block">
                                    <div class="content-red-body" id="registration-errors-content">
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-red-bottom">
                                    <div class="content-red-bottom-body"></div>
                                </div>
                            </div>

                            <div class="content-white-outer" id="registration-start">
                                <div class="content-white">
                                    <div class="content-white-body">
                                        <div class="content-white-content">
                                            <div class="editfigure">
                                                <div id="flashcontent">
                                                    <center>
                                                        <p>You can install and download Adobe Flash Player here: <a href="http://get.adobe.com/flashplayer/">Install flash player</a>. More instructions for installation can be found here: <a href="http://www.adobe.com/products/flashplayer/productinfo/instructions/">More information</a></p>
                                                        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="~/images/get_flash.png" alt="Get Adobe Flash player" /></a></p>
                                                    </center>
                                                </div>
                                            </div>
                                            <script type="text/javascript" language="JavaScript">
	                                            var swfobj = new SWFObject("@Url.Content("~/flash/HabboRegistration.swf")", "habboreg", "406", "327", "8");
	                                            swfobj.addVariable("post_url", "/profile/updatefigure?");
	                                            swfobj.addVariable("figuredata_url", "@figureDataUrl");
	                                            swfobj.addVariable("localization_url", "@Url.Content("~/xml/figure_editor_" + System.Threading.Thread.CurrentThread.CurrentCulture + ".xml")");
	                                            swfobj.addVariable("post_figure", "figureData");
	                                            swfobj.addVariable("post_gender", "newGender");
                                                swfobj.addParam("wmode", "opaque");
	                                            swfobj.addVariable("figure", "@ViewData["figure"]");
	                                            swfobj.addVariable("gender", "@ViewData["gender"]");
	                                            swfobj.write("flashcontent");
                                            </script>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-white-bottom">
                                    <div class="content-white-bottom-body"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="content-bottom-content"></div>
                    </div>
                </div>
            </td>
            <partial name="~/Views/Shared/Sidebars/Ad/ad.cshtml" />
        </tr>

    </tbody>
</table>