@model HousekeepingHomeViewModels

<h1>Welcome to Housekeeping</h1>
    @{
        if(Model.MissingSettings.Any()) {

            <h2>The following settings are missing from the "settings" table. Would you like to install them with their default values?</h2>
            <ul style="display:block; position:relative; border:2px solid red;">
                @{
                    foreach(var item in Model.MissingSettings) {
                        <li>@item.Setting (@item.FriendlyName)</li>
                    }
                }
            </ul>
            <a href="@Url.Action("InstallMissing", "Settings")">Yes install missing settings.</a>
            
        }
    }

<h2>Statistics</h2>
<div style="display:flex">
    <div style="flex: 1; margin-right: 10px;">
        <strong>Latest Sign-ins</strong>
        <table class="habboTable">
            <thead>
            <tr>
                <th>Username</th>
                <th>
                    Last Login
                </th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var user in Model.LatestSignins)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Manage", "Users", new { id = user.Id })">@user.Username</a>
                        </td>
                        <td>
                            @user.LastOnline
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div style="flex: 1; margin-left: 10px;">
        <strong>Latest Sign-ups</strong>
        <table class="habboTable">
            <thead>
            <tr>
                <th>Username</th>
                <th>
                    Created At
                </th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var user in Model.LatestSignups)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Manage", "Users", new { id = user.Id })">@user.Username</a>
                        </td>
                        <td>
                            @user.CreateAt
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <br/>
        Monthly Signups:
        <strong>@Model.MonthlySignups</strong>
        <br/>
        Signed-in users:
        <strong>@Model.totalSignedinUsers</strong>
        <br/>
        Total Users:
        <strong>@Model.totalUsers</strong>
    </div>
</div>

<p>
    This CMS is created by Webbanditten
</p>