@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@{Layout = null;}



<div class="widget-corner" id="widget-@(Model.Item.Id)-handle">
    <div class="widget-headline">
        <h3>
            @{
                if (Model.EnableEditing)
                {
                    <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-@Model.Item.Id-edit">
                    <script language="JavaScript" type="text/javascript">
                        Event.observe("widget-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "widget", "widget-@Model.Item.Id-edit"); }, false);
                    </script>
                }
            }

            <span class="header-left">&nbsp;</span><span class="header-middle">@DbRes.T("mygroups", "habbohome")</span><span class="header-right">&nbsp;</span>
        </h3>
    </div>
</div>
<div class="widget-body">
    <div class="widget-content">

        <div class="groups-list-container">
            <ul class="groups-list">

                @foreach (var group in Model.WidgetData.Groups)
                {
                    var url = (string.IsNullOrEmpty(group.Home.GroupUrl)) ? "/groups/" + group.Home.Id + "/id/" : "/groups/" + group.Home.GroupUrl;
                    <li title="@group.Home.GroupName" id="groups-list-@Model.Item.Id-@group.Home.Id">
                        <div class="groups-list-icon"><a href="@url"><img src="@Configuration.GetSection("keplercms")["groupBadgeUrl"]/@(group.Home.GroupBadge).gif"></a></div>

                        <h4>
                            <a href="@url">@group.Home.GroupName</a>
                        </h4>
                        <p>
                            @DbRes.T("group_created", "habbohome"):<br>
                            <b>@group.Home.Created.ToString("d MMM yyyy")</b>

                            @{
                                if(group.Home.Id == Model.WidgetData.User.Group) {
                                    <img src="~/images/groups/favourite_group_icon.gif" width="15" height="15" class="groups-list-icon" alt="@DbRes.T("favorite", "habbohome")" title="@DbRes.T("favorite", "habbohome")">                   
                                }
                                if(group.Home.UserId == Model.WidgetData.User.Id) {
                                    <img src="~/images/groups/owner_icon.gif" width="15" height="15" class="groups-list-icon" alt="@DbRes.T("owner", "habbohome")" title="@DbRes.T("owner", "habbohome")">
                                } else if(group.GroupMember.Rights) {
                                    <img src="~/images/groups/administrator_icon.gif" width="15" height="15" class="groups-list-icon" alt="@DbRes.T("administrator", "habbohome")" title="@DbRes.T("administrator", "habbohome")">
                                }
                            }

                            
                        </p>
                        <div class="clear"></div>
                    </li>
                }

                
            </ul>
            @{
                if(Model.WidgetData.Groups.Count() == 0) {
                    @DbRes.T("no_groups", "habbohome")
                }
            }
        </div>

        <div class="clear"></div>
    </div>
</div>