@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@{Layout = null;}
@{
    var showAddBtn = true;
    var guestbookAccess = (Model.Item.Data == "private") ? "private" : "public";
    if(User.Identity.IsAuthenticated)
    {
        if (guestbookAccess == "private")
        {
            var userId = int.Parse(User.Identity.Name);
            if (Model.Item.OwnerId != userId && Model.WidgetData.Friends.Where(s => s.FriendDetails.FromId == userId || s.FriendDetails.ToId == userId).Count() == 0)
            {
                showAddBtn = false;
            }
        }
    } else
    {
        showAddBtn = false;
    }

}


<div class="widget-corner" id="widget-@Model.Item.Id-handle">
    <div class="widget-headline">
        <h3>
            @{
                if (Model.EnableEditing)
                {

                    <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-@Model.Item.Id-edit">
                    <script language="JavaScript" type="text/javascript">
                        Event.observe("widget-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "widget", "widget-@Model.Item.Id-edit"); }, false);
                    </script>
                }
            }



            <span class="header-left">&nbsp;</span><span class="header-middle">@DbRes.T("guestbook", "habbohome") (<span id="guestbook-size">@Model.WidgetData.Guestbook.Count()</span>) <span id="guestbook-type" class="@guestbookAccess"><img src="~/c_images/myhabbo/status_exclusive.gif" title="myhabbo.guestbook.unknown.private" alt="myhabbo.guestbook.unknown.private"></span></span><span class="header-right">&nbsp;</span>
        </h3>
    </div>
</div>
<div class="widget-body">
    <div class="widget-content">
        <!-- gb-public/gb-private  -->
        <div id="guestbook-wrapper" class="gb-public">
            <ul class="guestbook-entries" id="guestbook-entry-container">
                @{
                    foreach (var entry in Model.WidgetData.Guestbook)
                    {
                        <partial name="~/Areas/MyHabbo/Views/Guestbook/Add.cshtml" model=entry />
                    }

                }

                @{
                    if (Model.WidgetData.Guestbook.Count() == 0)
                    {
                        <div>@DbRes.T("guestbook_noentries", "habbohome")</div>
                    }
                }

            </ul>
        </div>

        @{
            if (showAddBtn)
            {
                <div class="guestbook-toolbar clearfix">
                    <a href="#" class="new-button envelope-icon" id="guestbook-open-dialog">
                        <b><span></span>@DbRes.T("guestbook_newmessage", "habbohome")</b><i></i>
                    </a>
                </div>
            }
        }



        <script type="text/javascript">
            document.observe("dom:loaded", function () {
                var gb@(Model.Item.Id) = new GuestbookWidget('', '@Model.Item.Id', 500);
                var editMenuSection = $('guestbook-privacy-options');
                if (editMenuSection) {
                    gb@(Model.Item.Id).updateOptionsList('public');
                }
            });
        </script>
        <div class="clear"></div>
    </div>

</div>