@model IEnumerable<KeplerCMS.Data.Models.Settings>;

<h1>News</h1>

@if (ViewData["message"] != null)
{
    <div class="message">
        @ViewData["message"]
    </div>
}
<style>
    .value {
        max-width: 350px;
        overflow-x: auto;
    }
</style>
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model.OrderByDescending(s=>s.Setting))
                {
                <tr>
                    <td>@item.Setting</td>
                    <td class="value">@item.Value</td>
                    <td><a href="@Url.Action("Update", "Settings", new { id = item.Setting })">Edit</a></td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td>No Settings</td>
                    <td></td>
                </tr>
            }

        }
    </tbody>
</table>

@section scripts {
    <script>
    function removeUpload(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    window.location = "@Url.Action("Remove")/" + id;
                }
            })
        }
    </script>
}
