@model KeplerCMS.Data.Models.Homes 
@{ 
    Layout = null;
}
<div id="badge-editor-flash">
    <p>Adobe Flash player is required.</p>
    <p><a href="https://www.adobe.com/go/getflashplayer">Click here to install Adobe Flash player</a>.</p>
</div>
<script type="text/javascript" language="JavaScript">
    var swfobj = new SWFObject("@Url.Content("~/flash/BadgeEditor.swf")", "badgeEditor", "280", "366", "8");
    swfobj.addParam("base", "@Url.Content("~/flash/")");
    swfobj.addParam("bgcolor", "#FFFFFF");
    swfobj.addVariable("post_url", "/groups/actions/update_group_badge?");
    swfobj.addVariable("__app_key", "");
    swfobj.addVariable("groupId", "@Model.Id");
    swfobj.addVariable("badge_data", "@Model.GroupBadge");
    swfobj.addVariable("localization_url", "@Url.Content("~/xml/badge_editor_da.xml")");
    swfobj.addVariable("xml_url", "@Url.Content("~/xml/badge_data.xml")");
    swfobj.addParam("allowScriptAccess", "always");
    swfobj.write("badge-editor-flash");
</script>

<script>
    window.RufflePlayer = window.RufflePlayer || {};
    window.RufflePlayer.config = {
        "autoplay": "auto",
    };
    window.addEventListener("load", (event) => {
        const ruffle = window.RufflePlayer.newest();
        const player = ruffle.createPlayer();
        const container = document.getElementById("badge-editor-flash");
        container.innerHTML = '';
        container.appendChild(player);
        player.load({
            url: '@Url.Content("~/flash/BadgeEditor.swf")',
            parameters: 'base=&@Url.Content("~/flash/")&'+
                        'bgcolor=#FFFFFF&'+
                        'post_url=/groups/actions/update_group_badge?&'+
                        '__app_key=&'+
                        'groupId=@Model.Id&'+
                        'badge_data=@Model.GroupBadge&'+
                        'localization_url=@Url.Content("~/xml/badge_editor_da.xml")&'+
                        'xml_url=@Url.Content("~/xml/badge_data.xml")&',
            allowScriptAccess: true,
        });
        player.style.width = "280px";
        player.style.height = "366px";
        player.style.frameRate = "8";
    });
</script>
<script src='@Url.Content("~/flash/ruffle/ruffle.js")'></script> 