@model KeplerCMS.Areas.MyHabbo.Models.BadgesViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ 
    var prPage = 12;
    var maxPages = Math.Ceiling(Decimal.Divide(Model.Item.WidgetData.Badges.Count(), prPage));
    var pagedBadges = Model.Item.WidgetData.Badges.Skip((Model.PageNumber - 1) * prPage).Take(prPage).ToList();
}
<div id="badgelist-content">
    <ul class="clearfix">
        @{
            foreach (var badge in pagedBadges)
            {
                <li style="background-image: url(@Configuration["badgeUrl"]/@(badge.Badge).gif)"></li>
            }
        }
    </ul>


    <div id="badge-list-paging">
        @pagedBadges.Count() - @Model.PageNumber / @maxPages<br>

        @{
            if (Model.PageNumber != 1)
            {
                @:<a href="#" id="badge-list-search-first">@DbRes.T("badgefirst", "habbohome")</a> |
            }
            else
            {
                @:@DbRes.T("badgefirst", "habbohome") |
            }
            if (Model.PageNumber > 1)
            {
                @:<a href="#" id="badge-list-search-previous">&lt;&lt;</a> |
            }
            else
            {
                @:&lt; &lt; |
            }


            if (Model.PageNumber < maxPages)
            {
                @:<a href="#" id="badge-list-search-next">&gt;&gt;</a> |
            }
            else
            {
                @:&gt;&gt;
            }

            if (Model.PageNumber != maxPages)
            {
                @:<a href="#" id="badge-list-search-last">@DbRes.T("badgelast", "habbohome")</a>
            }
            else
            {
                @:@DbRes.T("badgelast", "habbohome")
            }
        }


        <input type="hidden" id="badgeListPageNumber" value="@Model.PageNumber">
        <input type="hidden" id="badgeListTotalPages" value="@maxPages">
        <script type="text/javascript">
                    document.observe('dom:loaded', function () {
                        window.badgesWidget@(Model.Item.Item.Id) = new BadgesWidget('@Model.Item.WidgetData.User.Id', '@Model.Item.Item.Id');
                    });
        </script>
    </div>
</div>
<div class="clear"></div>