@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Data.Models.Users
<div class="avatar-list-info-container">
    <div class="avatar-info-basic clearfix">
        <div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close" id="avatar-list-info-close"></a></div>
        <div class="avatar-info-image">
            <img src="@Configuration.GetSection("keplercms")["figureUrl"]?figure=@Model.Figure&size=b&direction=4&head_direction=4&crr=0&gesture=&frame=1" alt="@Model.Username" />
        </div>
        <h4><a href="/home/@Model.Username">@Model.Username</a></h4>
        <p>
            <a href="/client" target="client" onclick="HabboClient.openOrFocus(this); return false;">
                @{
                    if (Model.Status == "online")
                    {
                        <img src="~/c_images/myhabbo/habbo_online_anim.gif" />
                    }
                    else
                    {
                        <img src="~/c_images/myhabbo/habbo_offline.gif" />
                    }
                }
            </a>

        </p>
        <p>@DbRes.T("profile_birthday", "habbohome"): <b>@Model.CreateAt.ToString("dd-MM-yyy")</b></p>
        <p><a href="/home/@Model.Username" class="arrow">@DbRes.T("show_home", "habbohome")</a></p>
    </div>
</div>