@model KeplerCMS.Areas.MyHabbo.Models.AvatarlistViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ 
    var filteredFriends = Model.Widget.WidgetData.Friends;
    if(Model.Search != "" && Model.Search != null)
    {
        filteredFriends = filteredFriends.Where(s => s.UserDetails.Username.ToLower().Contains(Model.Search.ToLower())).ToList();
    }
    var prPage = 32;
    var maxPages = Math.Ceiling(Decimal.Divide(filteredFriends.Count(), prPage));
    var pagedFriends = filteredFriends.Skip((Model.PageNumber - 1) * prPage).Take(prPage).ToList();
}
<div id="avatarlist-content">


    <div class="avatar-widget-list-container">
        <ul id="avatar-list-list" class="avatar-widget-list">
            @{
                foreach (var friend in pagedFriends)
                {
                    <li id="avatar-list-@Model.Widget.Item.Id-@friend.UserDetails.Id" title="@friend.UserDetails.Username">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-@Model.Widget.Item.Id-@friend.UserDetails.Id" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="@Configuration.GetSection("keplercms")["figureUrl"]?figure=@(friend.UserDetails.Figure)&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="/home/@friend.UserDetails.Username">@friend.UserDetails.Username</a></h4>
                        <p class="avatar-list-birthday">@friend.UserDetails.CreateAt.ToString("dd-MM-yyyy")</p>
                        <p>

                        </p>
                    </li>
                }
            }

        </ul>

        <div id="avatar-list-info" class="avatar-list-info">

            <div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close"></a></div>
            <div class="avatar-list-info-container"></div>
        </div>

    </div>

    @{
        if (Model.Widget.WidgetData.Friends.Count() == 0)
        {

            <div class="avatar-widget-list-container">
                <ul id="avatar-list-list" class="avatar-widget-list">


                    @DbRes.T("nofriends", "habbohome")

                </ul>



                <div id="avatar-list-info" class="avatar-list-info">

                    <div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close"></a></div>
                    <div class="avatar-list-info-container"></div>
                </div>

            </div>
        }
    }

<div id="avatar-list-paging" style="">

    @pagedFriends.Count() - @Model.PageNumber / @maxPages<br>

    @{
        if (Model.PageNumber != 1)
        {
            @:<a href="#" class="avatar-list-paging-link" id="avatarlist-search-first">@DbRes.T("badgefirst", "habbohome")</a> |
        }
        else
        {
            @:@DbRes.T("badgefirst", "habbohome") |
        }
        if (Model.PageNumber > 1)
        {
            @:<a href="#" class="avatar-list-paging-link" id="avatarlist-search-previous">&lt;&lt;</a> |
        }
        else
        {
            @:&lt; &lt; |
        }


        if (Model.PageNumber < maxPages)
        {
            @:<a href="#" class="avatar-list-paging-link" id="avatarlist-search-next">&gt;&gt;</a> |
        }
        else
        {
            @:&gt;&gt;
        }

        if (Model.PageNumber != maxPages)
        {
            @:<a href="#" class="avatar-list-paging-link" id="avatarlist-search-last">@DbRes.T("badgelast", "habbohome")</a>
        }
        else
        {
            @:@DbRes.T("badgelast", "habbohome")
        }
    }


    <input type="hidden" id="pageNumber" value="@Model.PageNumber">
    <input type="hidden" id="totalPages" value="@maxPages">
</div>

    <script type="text/javascript">
            document.observe("dom:loaded", function() {
	            window.widget@(Model.Widget.Item.Id) = new FriendsWidget('1', '@(Model.Widget.Item.Id)');
            });
    </script>
</div>
