@model KeplerCMS.Areas.Housekeeping.Models.Views.SearchRoomsViewModel
@inject KeplerCMS.Services.Interfaces.ISettingsService SettingsService

@{
    ViewBag.Title = "Private rooms";
    
}

<h1>Private rooms</h1>
<p>
    Here you can search for rooms by name or owner
</p>
<form asp-action="Index" method="get">
    <label for="search"><strong>Search</strong></label>
    <input name="search" type="text" value="@Model.Search" />
    <input type="submit" value="Submit" />
</form>
<hr/>
@if (Model.Rooms.Any())
{
    
    <h2>Rooms </h2>
    <br/>
    <table class="habboTable">
        <thead>
        <tr>
            <th>Owner</th>
            <th>Room name and description</th>
            <th>Door mode</th>
            <th>Show owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var room in Model.Rooms)
            {
                <tr>
                    <form class="rooms-inline-form" data-room-id="@room.Id">
                        <td>@if(room.Owner != null) { <a href="@Url.Action("Manage", "Users", new { id = room.OwnerId })">@room.Owner.Username</a>}else{<text>PUBLIC ROOM</text>}</td>
                        <td>

                            <label for="name">Name</label>
                            <input type="text" name="name" value="@room.Name"/>¨'
                            <br/>
                            <label for="description">Description</label>
                            <input type="text" name="name" value="@room.Description"/>

                        </td>
                        <td></td>
                        <td></td>
                    </form>
                </tr>
            }
        }
        </tbody>
    </table>
    if (Model.CurrentPage != 1)
    {
    <a href="@Url.Action("Index", "Rooms", new { search=@Model.Search, currentPage=@Model.CurrentPage-1 })">Previous Page</a>
    }
    
    if (Model.CurrentPage != Model.TotalPages && Model.TotalPages != 0)
    {
    <a href="@Url.Action("Index", "Rooms", new { search=@Model.Search, currentPage=@Model.CurrentPage+1 })" style="float:right">Next Page</a>
    }


}