@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@{Layout = null;}


@functions {
    async Task ProfileWidget()
    {
        <div class="@((Model.EnableEditing) ? "movable" : "") widget ProfileWidget" id="widget-@Model.Item.Id" style="left: @(Model.Item.X)px; top: @(Model.Item.Y)px; z-index: @(Model.Item.Z)">
            <div class="w_skin_metalskin">
                <div class="widget-corner" id="widget-31253-handle">
                    <div class="widget-headline">
                        <h3>
                            @{
                                if (Model.EnableEditing)
                                {
                                    <img src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-@Model.Item.Id-edit">
                                    <script language="JavaScript" type="text/javascript">
                                        Event.observe("widget-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "widget", "widget-@Model.Item.Id-edit"); }, false);
                                    </script>
                                }
                            }


                            <span class="header-left">&nbsp;</span><span class="header-middle">MIN PROFIL</span><span class="header-right">&nbsp;</span>
                        </h3>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-content">
                        <div class="profile-info">

                            <div class="name" style="float: left">
                                <span class="name-text">@Model.WidgetData.User.Username</span>
                                <img id="name-4-report" class="report-button report-n" alt="report" src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/buttons/report_button.gif" style="display: none;">
                            </div>

                            <br class="clear">


                            <img alt="online" src="~/c_images/myhabbo/habbo_offline.gif">

                            <div class="birthday text">
                                Fødselsdag
                            </div>
                            <div class="birthday date">
                                @Model.WidgetData.User.CreateAt.ToString("dd-MM-yyyy")
                            </div>
                            @{
                                if (Model.WidgetData.User.BadgeActive)
                                {
                                    <div>
                                        <img src="@Configuration["badgeUrl"]/@(Model.WidgetData.User.Badge).gif">
                                    </div>
                                }

                            }


                        </div>
                        <div class="profile-figure">
                            <img alt="Wizter" src="@Configuration["figureUrl"]?figure=@Model.WidgetData.User.Figure&amp;size=b&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=sml&amp;frame=1">
                        </div>

                        <div class="profile-motto">
                            @Model.WidgetData.User.Motto
                            <img id="motto-4-report" class="report-button report-n" alt="report" src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/buttons/report_button.gif" style="display: none;">
                            <div class="clear"></div>
                        </div>
                        <div id="profile-tags-panel">
                            <div id="profile-tag-list">
  


                            </div>
                        </div>
                        <script type="text/javascript">
                            document.observe("dom:loaded", function () {
                                new ProfileWidget('7975', '7975', {
                                    headerText: "Are you sure?",
                                    messageText: "Are you sure you want to ask <strong\>Wizter</strong\> to be your friend? Think twice before you hit OK!",
                                    loginText: "You must sign in before sending a friend request.",
                                    buttonText: "Ok",
                                    cancelButtonText: "Cancel"
                                });
                            });
                        </script>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    }

    async Task Sticker()
    {
        <div class="@((Model.EnableEditing) ? "movable" : "") sticker @Model.Definition.CssClass" style="left: @(Model.Item.X)px; top: @(Model.Item.Y)px; z-index: @(Model.Item.Z)" id="sticker-@Model.Item.Id">

            @{
                if (Model.EnableEditing)
                {
                    <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="sticker-@Model.Item.Id-edit">
                    <script language="JavaScript" type="text/javascript">
                Event.observe("sticker-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "sticker", "sticker-@Model.Item.Id-edit", false); }, false);
                    </script>
                }
            }

        </div>
    }
}

@{
    if (Model.Definition.Type == "widgets" && Model.Definition.CssClass == "ProfileWidget")
    {
        await ProfileWidget();
    }
    else if (Model.Definition.Type == "stickers")
    {
        await Sticker();
    }
    else
    {
        <strong>ITEM TYPE NOT IMPLEMENTED</strong>
    }
}