@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
<div class="@((Model.EnableEditing) ? "movable" : "") widget stickie @(Model.Item.Skin)-c" id="stickie-@Model.Item.Id" style="left: @(Model.Item.X)px; top: @(Model.Item.Y)px; z-index: @(Model.Item.Z)">
    <div class="@(Model.Item.Skin)">
        <div class="stickie-header">
            <h3>
                @{
                    if (Model.EnableEditing)
                    {
                        <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="stickie-@Model.Item.Id-edit">
                        <script language="JavaScript" type="text/javascript">
                            Event.observe("stickie-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "stickie", "stickie-@Model.Item.Id-edit", false); }, false);
                        </script>
                    }
                }
            </h3>
            <div class="clear"></div>
        </div>
        <div class="stickie-body">
            <div class="stickie-content">
                <div class="stickie-markup">@Html.Raw(KeplerCMS.Areas.MyHabbo.Helpers.BBCodeToString.Convert(Model.Item.Data))</div>
                <div class="stickie-footer">
                </div>
            </div>
        </div>
    </div>
</div>
