@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@{Layout = null;}


@{ 
    string specificClass = Model.Definition.CssClass switch
    {
        "w_traxplayerwidget" => "TraxPlayerWidget",
        "w_badgeswidget" => "BadgesWidget",
        "w_friendswidget" => "FriendsWidget",
        "w_guestbookwidget" => "GuestbookWidget",
        "w_highscoreswidget" => "HighScoresWidget",
        "w_ratingwidget" => "RatingWidget",
        "w_roomswidget" => "RoomsWidget",
        "w_profilewidget" => "ProfileWidget",
        "w_groupswidget" => "GroupsWidget"
    };
}

<div class="@((Model.EnableEditing) ? "movable" : "") widget @specificClass" id="widget-@Model.Item.Id" style="left: @(Model.Item.X)px; top: @(Model.Item.Y)px; z-index: @(Model.Item.Z)">
    <div class="@Model.Item.Skin">

        <partial name="~/Areas/MyHabbo/Views/Items/Widgets/@(Model.Definition.CssClass).cshtml" model=Model />

    </div>
</div>