@model List<KeplerCMS.Data.Models.News>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = DbRes.T("archive", "news");
}
<div id="page-headline">
    <div id="page-headline-breadcrums">

    </div>
    <div id="page-headline-text">
        @DbRes.T("archive", "news")
    </div>
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td rowspan="2" style="width: 8px;">&nbsp;</td>
            <td valign="top" style="width: 740px;">

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="width: 202px; height: 400px;" class="habboPage-col">
                                <div class="portlet-scale gold">
                                    <div class="portlet-scale-header"><h3>@DbRes.T("search", "news")</h3></div>
                                    <div class="portlet-scale-body">
                                        <div class="portlet-scale-content">
                                            @DbRes.T("search_description", "news")
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="portlet-scale-bottom">
                                        <div class="portlet-scale-bottom-body"></div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top" style="width: 539px;" class="habboPage-col rightmost">
                                <div class="portlet-scale gold">
                                    <div class="portlet-scale-header"><h3>@DbRes.T("search", "news")</h3></div>
                                    <div class="portlet-scale-body">
                                        <div class="portlet-scale-content">
                                            <ul>
                                                @{
                                                    foreach (var news in Model)
                                                    {
                                                        <li>
                                                            <span class="articledate">[@news.PublishDate.ToString("dd-MM-yy").Replace('-', Configuration.GetSection("keplercms").GetSection("customizations")["dateSeparator"][0])]</span>
                                                            <a href="/news/@news.Slug">@news.Title</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="portlet-scale-bottom">
                                        <div class="portlet-scale-bottom-body"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
            <partial name="~/Views/Shared/Sidebars/Ad/ad.cshtml" />
        </tr>

    </tbody>
</table>