@using KeplerCMS.Data.Models
@{
    Layout = null;
    var userData = (Users)ViewData["user"];
}


    <h3>@DbRes.T("club_youhave", "topbar") @userData.HabboClubInDays @DbRes.T("club_daysleft", "topbar")</h3>
<div class="tabmenu-inner-content">
    <p>
        @DbRes.T("club_benefits", "topbar")
    </p>
    <p>
        <a href="/club" class="arrow">@DbRes.T("club_news", "topbar")</a>
    </p>
</div>
<script>habboClubUpdated = false;</script>