@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{

    ViewData["Title"] = "I miei dati";
    var userData = (KeplerCMS.Data.Models.Users)ViewData["user"];
}
<td style="width: 8px;"></td>
<td valign="top" style="width: 200px;" class="habboPage-col">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <div class="v2box blue darkest">
                    <div class="headline"><h3>LE MIE INFO</h3></div>
                                        <div class="border"><div></div></div>
                    <div class="body">
                        <p>
                            <div style="text-decoration: underline;line-height:20px"><b>@userData.Username</b></div>
                            @{
                                if (@userData.Status == "online")
                                {
                                    <img src="~/c_images/myhabbo/habbo_online_anim.gif" /><br>
                                }
                                else
                                {
                                    <img src="~/c_images/myhabbo/habbo_offline.gif" /><br>
                                }
                            }
                            @DbRes.T("created_at", "profile")<br>@userData.CreateAt.ToShortDateString()
                        <img src="@Configuration.GetSection("keplercms")["figureUrl"]?figure=@userData.Figure&action=std&direction=4&head_direction=4&gesture=sml" alt="" class="tabmenu-image myimage" style="margin-right:5px;margin-right: 0px;border:3px;position:absolute;padding-left:15px;margin-top:-25px;">
                                        <br><br><br><br><br><br><br>
                        </p>


                            <div>
                                <div class="content-blue">
                                    <div class="content-blue-body">
                                        @userData.Motto
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-blue-bottom">
                                    <div class="content-blue-bottom-body"></div>
                                </div>
                            </div>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom"><div></div></div>
                </div>
            </tr>
        </tbody>
    </table>
</td>